* {
  text-decoration: none;
}

#read {
  margin: 50px;
  margin-top: 10px;
}

#dots {
  margin-left: 40px;
  color: #236b8e;
  font-size: 50px;
  text-shadow: 5px 4px #558abb;
}
#toplines {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #033353;
  text-shadow: #1c5470;
}
#membershead {
  font-size: 21.5px;
  font-family: Georgia, serif;
  color: #236b8e;
  text-shadow: #033353;
  font-style: italic;
}
#members {
  font-size: 16px;
  font-family: Georgia, serif;
  color: #444b4e;
  text-shadow: #033353;
}
#various {
  font-size: 21.5px;
  font-family: Georgia, serif;
  color: #236b8e;
  text-shadow: #033353;
  text-decoration: underline;
  font-style: oblique;
}
#variouscateg {
  font-size: 19px;
  font-family: Georgia, serif;
  color: #236b8e;
  text-shadow: #033353;
  font-style: oblique;
}

#list {
  color: #1388cc;
}
a,
ul,
b,
div {
  text-decoration: none !important;
}
li:hover {
  cursor: pointer;
  text-decoration: underline;
}
/*? <!----------------------------------------------- < Dropdown > -----------------------------------------------> */

#dropmeow {
  display: none;
  position: absolute;
  transition: all 300ms ease;
  z-index: 99999999999999999999999999999999999999999999999999;
}
#dropmeow > ul {
  width: 280px;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  top: 20px;
  left: -620px;
  background-color: white;
  text-align: left;
  list-style: none;
}
#droppers {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 10px;
}
#arrow {
  filter: invert();
  width: 20px;
  transform: rotateZ(180deg);
}
#droppers:hover {
  transform: scale(1.02);
  background-color: rgb(235, 253, 255);
}
