div {
  border: 1px solid black;
}

.ChildBox {
  display: flex;
  min-height: 500px;
  padding: 50px;
}
.slideshow {
  width: 60%;
  padding: 10px;
}
.Info {
  width: 35%;
  padding: 50px;
}

#bannerimg {
  width: 100%;
}
.item {
  height: 470px;
  object-position: center;
  object-fit: cover;
}
#banner {
  padding: 5px;
  width: 98%;
  margin: 0px;
  left: 30px !important;
}
