*{
    text-decoration: none;
    margin: 20px;
}

#read{
    margin: 50px;
    margin-top: 10px;
}

#dots{
    margin-left: 40px;
    color: #236b8e;
    font-size: 50px;
    text-shadow: 5px 4px #558ABB;
}
#toplines{
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#033353 ;
    text-shadow:#1c5470;
} 
#membershead{
    font-size: 21.5px;
    font-family: Georgia, serif;
    color:#236b8e ;
    text-shadow: #033353;
    font-style: italic;
}
#members{
    font-size: 16px;
    font-family: Georgia, serif;
    color:#444b4e ;
    text-shadow: #033353;
}
#various{
    font-size: 21.5px;
    font-family: Georgia, serif;
    color:#236b8e ;
    text-shadow: #033353;
    text-decoration: underline;
    font-style: oblique;
}
#variouscateg{
    font-size: 19px;
    font-family: Georgia, serif;
    color:#236b8e ;
    text-shadow: #033353;
    font-style: oblique;
}

#list{
    color: #1388cc;
}

#box{
    background-color: #fafafa;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 90%;
    margin-left: 65px ;

}


#social{
     color: #033353;
     text-align: center;
     font-size: 40px;
     padding-top: 35px;
}
#gallery {
    position: relative;
    left: 42%;
    width: 16%;
    background-color: #236b8e;
    height: 50px;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: #f7f7f9;
    text-shadow: 3px 3px 6px rgb(46, 20, 24);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }



















